body{
    margin: 0;
    padding: 0;
    background:url("fondo.jpg")top/cover no-repeat;
}

div{
    background: rgb(12, 26, 42);
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 15px 30px;
    box-shadow: 10px 10px 25px rgb(226, 193, 8);
    border-radius: 25px;
    position: relative;
    transition: all .4s ease;
    box-sizing: border-box;
}

div:hover{
    transform: 
        perspective(250px) rotateX(10deg) translateY(-5%);
    cursor: pointer;    
}



.img1{
    height: 100px;
    width: 180px;
    border-radius: 50%;
    
}

h1{
    color: #b8d6d3;
    text-shadow: 1px 1px 20px yellow;
    margin-top: 0;
}

h2{
    color: #b8d6d3;
    text-shadow: 1px 1px 35px yellow;
}

p{
    text-align: justify;
    color: #b8d6d3;
    text-shadow: 1px 1px 50px yellow;
    padding-bottom: 10px;
}

.img2{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:100px;
    filter: drop-shadow(10px 10px 10px  rgb(38, 78, 137));
    left: 0;
    right: 0;
    margin: auto;
    background:url('fondo\ tapion.gif')center/cover no-repeat;
    transform: translateY(25%);
    transition: all .4s ease;
    opacity: 0;
    border-radius: 10px;
}

.img2:hover{
    opacity: 1;
}

